<div class="container">
  <h1> <u><%= @cocktail.name %></u></h1>
    <div class="bloc">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
      <% @cocktail.doses.each do |dose| %>
          <%= dose.description + ' - ' + dose.ingredient.name %> <%= link_to 'destroy', dose_path(dose), method: :delete %>
      <% end %>
    </div>
  <h3> Add a new dose</h3>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%=  f.submit %>
  <% end %>
</div>
